{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{title}} </h1>
        <small class="lead">{{author.username}}</small>
        <hr class="my-4">
        <p>{{content}}</p>
        <p>Last Edited: {{last_edited}} </p>
        <p class="lead">
          {% if user.is_authenticated and user.id == author.id %}
          <a class="btn btn-primary btn-lg" href="{% url 'edit_post' id %}" role="button">Edit</a>
          {% endif %}
        </p>
      </div>


{% endblock %}